 .home {
  width: 100%;
  min-height: 100vh;

  background-image: url("../assets/bgimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
  box-sizing: border-box;
}

/* Tablet */
@media screen and (max-width: 768px) {
  .home {
    padding: 15px;
  }
}

/* Mobile */
@media screen and (max-width: 480px) {
  .home {
    padding: 10px;
  }
}